.submission-form{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 700px;
    max-width: 220px;
    border-width:5px;  
    border-style:groove;
    background-color: white;
}
label{
    font-size: large;
    color: wheat;
    margin-top: 5px;
}
input, textarea{
    margin-top: 5px;
    display:block;
}
button{
    margin-top: 10px;
    display: block;
}
h1{
    padding-left:750px ;
}
body{
    background-color: cyan;
}